
/* Estilos por defecto para todos los elementos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos para la barra de navegación */
.navbar {
  font-family: 'Montserrat', sans-serif; /* Fuente del texto */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  position: fixed;
  top: 0;
  background-color: #000;
  left: 0px; /* Añade esta línea para asegurarte de que la barra esté pegada a la izquierda */
  right: 0px; /* Añade esta línea para asegurarte de que la barra esté pegada a la derecha */
  z-index: 1000; /* Valor alto para la propiedad z-index para que esté por encima de otros elementos */
}

/* Estilos para el logotipo */
.logo {
  background-color:transparent;
  color: #333;
  padding: 3px 8px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

/* Estilos para las categorías */
.categories {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  flex-grow: 2;
  margin-left: auto;
  justify-content: center;
}

/* Estilos para los enlaces dentro de las categorías */
.categories a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  padding: 0 10px;
}

/* Estilos para los enlaces dentro de las categorías cuando se pasa el mouse sobre ellos */
.categories a:hover {
  color: #fffd9a;
}

/* Estilos para el campo de búsqueda */
.search-stock-right {
  margin-left: 15px;
  margin-right: 5px;
}

/* Estilos para los campos de entrada de texto */
input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 35px;
}

/* Estilos para el enlace "Sobre Nosotros" */
.about-link {
  color: #ffffff;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 15px;
}

/* Estilos para el enlace "Sobre Nosotros" cuando se pasa el mouse sobre él */
.about-link:hover {
  color: #00ffd5;
}