/* Estilos generales del fondo */
body:before {
  content: "";
  display: block;
  height: 100px; /* Altura del fondo */
  background-color: #1b1b1b; /* Color de fondo */
  background-image: linear-gradient(to bottom, #2e2e2e, #1b1b1b); /* Gradiente de color */
}

/* Ajuste para scroll con barra de navegación fija */
html {
  scroll-padding-top: 150px; /* Espacio superior para navegación fija */
  -webkit-scroll-padding-top: 150px; /* Para navegadores Webkit */
}

/* Estilos generales del cuerpo */
body {
  background-color: #1b1b1b; /* Color de fondo del cuerpo */
  font-family: 'Montserrat', sans-serif; /* Fuente del texto */
  color: #f2f2f2; /* Color del texto */
}

/* Estilos para párrafos */
p {
  font-size: 18px; /* Tamaño de fuente del párrafo */
  line-height: 1.5; /* Espaciado entre líneas */
  text-align: center; /* Alineación del texto */
  margin-bottom: 40px; /* Espaciado inferior */
}

/* Estilos de las secciones */
.section {
  background-color: #282828; /* Color de fondo de las secciones */
  background-image: linear-gradient(to bottom, #282828, #1b1b1b); /* Gradiente de color */
  padding: 40px; /* Espaciado interno */
  margin-bottom: 40px; /* Espaciado inferior */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra ligera */
}

/* Estilos para títulos de secciones */
.section h2 {
  font-size: 36px; /* Tamaño de fuente del título de sección */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 20px; /* Espaciado inferior */
  text-align: center; /* Alineación del texto */
  color: #f2f2f2; /* Color del texto */
}

/* Estilos para párrafos dentro de secciones */
.section p {
  font-size: 18px; /* Tamaño de fuente del párrafo */
  line-height: 1.5; /* Espaciado entre líneas */
  margin-bottom: 20px; /* Espaciado inferior */
  text-align: center; /* Alineación del texto */
}

/* Estilos de los botones en las secciones */
.section .btn {
  background-color: #f2f2f2; /* Color de fondo del botón */
  color: #282828; /* Color del texto del botón */
}

/* Estilos de las características */
.features {
  display: flex; /* Mostrar elementos en una fila */
  justify-content: space-between; /* Espacio entre los elementos */
  margin-bottom: 40px; /* Espaciado inferior */
}

/* Estilos de cada característica */
.feature {
  flex-basis: 30%; /* Ancho de cada característica */
  text-align: center; /* Alineación del texto */
  padding: 20px; /* Espaciado interno */
  background-color: #363636; /* Color de fondo de las características */
  color: #f2f2f2; /* Color del texto */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra ligera */
  margin: 3px; /* Espaciado alrededor de cada cuadro */
}

/* Estilos para títulos de características */
.feature h2 {
  font-size: 24px; /* Tamaño de fuente del título de características */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 20px; /* Espaciado inferior */
  color: #f2f2f2; /* Color del texto */
}

/* Estilos para párrafos dentro de características */
.feature p {
  font-size: 18px; /* Tamaño de fuente del párrafo */
  line-height: 1.5; /* Espaciado entre líneas */
}

/* Estilos de la sección "Acerca de" */
.about {
  text-align: center; /* Alineación del texto */
  margin-bottom: 40px; /* Espaciado inferior */
}

/* Estilos para el footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0; /* Eliminar el relleno en los lados y mantenerlo solo arriba y abajo */
  width: 100%; /* Ocupar todo el ancho */
  margin-top: auto; /* Colocar el footer al final del contenido */
}

/* Estilos para los enlaces de navegación en el footer */
.footer a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para el enlace de "Sobre Nosotros" en el footer */
.footer a.about-link {
  font-weight: bold;
}